.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 10;
}

.text {
  position: relative;
  text-shadow: 1px 1px 2px white;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
  margin-top: -80px;
  margin-left: 5px;
}

.main-image {
  width: 100%;
  height: 25rem;
  z-index: 0;
  overflow: hidden;
}

.main-image img {
  width: 110%;
  height: 100%;
  object-fit: cover;
  transform: rotateZ(-5deg) translateY(-4rem) translateX(-1rem);
}

.button {
  cursor: pointer;
  font-size: 13px;
  margin-right: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
  border: none;
  background-color: white;
  color: black;
  padding: 0.75rem 2rem;
  align-items: center;
  border-radius: 25px;
  font-weight: bold;
}

.button:hover,
.button:active {
  background-color: #ece9e6;
}
