.background {
  background-image: url("../../image/bbbb.jpeg");
  height: 88vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-color: rgba(0, 0, 0, 255);
}
